@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#131314] text-[#e3e3e3] overflow-hidden;
  font-family: 'Inter', sans-serif;
}

/* Scrollbar styling */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-thumb { background: #444; border-radius: 10px; }